//// Google Font
@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400i,900');


//// Colors
$green: #70a9a1;
$orange: #F2855E;
$greyopacity: rgba(57, 74, 81, 0.6);
$bluegrey: #a5b1c2;
$darkgrey: #d3d3d3;
$lightgrey: #f6f6f6;
$white: #f8f8f8;
$accent: #70a9a1;
$darkblue: #0b2027;
$navyblue: #404b69;
