@import url('https://fonts.googleapis.com/css?family=Lobster');

@import 'variables';
@import 'navbar';
@import 'nav-button';
@import 'home';
@import 'my-design-style';
@import 'about';
@import 'contact';
@import 'portfolio';
@import 'contact-form';

* {
  box-sizing: border-box;
}

/*body, html {
    height: 100%;
    margin: 0px;
    font-family: $main-font;
    color: $cream;
}*/




/*
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(130%);
  }
  100% {
    transform: translateX(0);
  }
}
*/



 






